{% extends "base.html" %}

{% block title %}
    All materials
{% endblock %}

{% block content %}
    <h1>My material list</h1>

    {% for material in materials %}
        <h2>{{ material.title }}</h2>
        <p>
            Material author: {{ material.author }}. Published {{ material.publish }}
        </p>
        <p>
            {{ material.body|truncatewords_html:5|linebreaks }}
        </p>
        <a href="{{ material.get_absolute_url }}">link</a>
    {% endfor %}
    <p>
        <a href="{% url "lesson:create_material" %}">Brave New World</a>
    </p>
{% endblock %}
