{% extends "base.html" %}

{% block title %}
    {{ material.title|truncatewords:3 }}
{% endblock %}

{% block content %}
    <a href="{% url "lesson:all_materials" %}">All materials</a>
    <h1>{{ material.title}}</h1>
    <p>
        {{ material.body|linebreaks }}
    </p>
    <p>
        Material author: {{ material.author }}. Published {{ material.publish }}
    </p>
    <p>
        <a href="{% url "lesson:share_material" material.id %}">share material</a>
    </p>
    {% with material.comment.count as total_comments %}
        {{ total_comments }} comment{{ total_comments|pluralize }} <br>
    {% endwith %}

    {% for comment in material.comment.all %}
        <p>Comment #{{ forloop.counter }} by {{ comment.name }}</p>
        {{ comment.body }}
    {% empty %}
        No comments.
    {% endfor %}
     <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Add comment!">
     </form>
{% endblock %}
